[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=sopaspades %U
Name=Sopa Spades
GenericName=Sandbox building and FPS videogame
Comment=Open-source clone of Ace of Spades with SOPA customizations
Keywords=game;fps;sandbox;voxel;aos;sopa;
Icon=/home/linux/a-la-popa/snap/gui/sopaspades.png
Categories=Game;ActionGame;
MimeType=x-scheme-handler/aos;
